In [ ]:
#Dependencies and Setup
import pandas as pd
import pandas as numpy

In [51]:
# File to Load 
filepath = "Resources/purchase_data.csv"


# Read Purchasing File and store into Pandas data frame
df = pd.read_csv(filepath)

df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

#### Player Count

In [88]:
player_demographics = purchase_data.loc[:,["Gender", "SN", "Age"]]
player_demographics = player_demographics.drop_duplicates()
num_players= player_demographics.count()[0]

pd.DataFrame({"Total Players": [num_players]})

   Total Players
0            576

###  Purchasing Analysis (Total)

In [8]:
df.shape

(780, 7)

In [17]:
df.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

In [10]:
df.SN.nunique()

576

In [63]:
df ["Price"].mean()

3.050987179487176

In [20]:
unique_items = df["Item Name"].nunique()
unique_items

179

In [23]:
average_price = df.Price.mean()
average_price

3.050987179487176

In [24]:
total_price = df.Price.sum()
total_price

2379.77

In [25]:
purchase_count = df.Price.count()
purchase_count

780

In [ ]:
Number of Unique Items	Average Price	Number of Purchases	Total Revenue

In [30]:
my_purchase_dict = {"Number of Unique Items":[unique_items],
                   "Average Price":[average_price],
                    "Number of Purchases":[purchase_count],
                    "Total Revenue":[total_price] }
my_purchase_dict

{'Number of Unique Items': [179],
 'Average Price': [3.050987179487176],
 'Number of Purchases': [780],
 'Total Revenue': [2379.77]}

In [38]:
purchase_summary_df = pd.DataFrame(my_purchase_dict)
purchase_summary_df ["Average Price"] = purchase_summary_df["Average Price"].map("${:,.2f}".format)
purchase_summary_df ["Total Revenue"] = purchase_summary_df["Total Revenue"].map("${:,.2f}".format)
purchase_summary_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

### Gender Demographics

In [102]:
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [109]:
cols = ["Gender", "Age", "SN"]

players_demographics = df.loc[:, cols]
players_demographics.head()

  Gender  Age             SN
0   Male   20        Lisim78
1   Male   40    Lisovynya38
2   Male   24     Ithergue48
3   Male   24  Chamassasya86
4   Male   23      Iskosia90

In [121]:
gender_demographics_totals = player_demographics["Gender"].value_counts()
gender_demographics_percents = gender_demographics_totals/ num_players *100
df['Gender'].value_counts()

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [132]:
player_count = players.Gender.value_counts()
player_percentage = players.Gender.value_counts() / len(players)

#stackoverflow.18062521
summ3 = pd.concat([player_cnt, player_perc], axis=1)
summ3.columns = ["Total Count", 'Percentage of Players']

summ3

                       Total Count  Percentage of Players
Male                           652               0.835897
Female                         113               0.144872
Other / Non-Disclosed           15               0.019231

### Purchasing Analysis (Gender)
Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender
Create a summary data frame to hold the results
Optional: give the displayed data cleaner formatting
Display the summary data frame

In [5]:
df.head()

NameError: name 'df' is not defined

In [149]:
purchases_by_gender = purchase_data["Gender"].value_counts()
total_purchases = purchases_by_gender.sum()
print(purchases_by_gender)
male_purchases = purchases_by_gender["Male"]
female_purchases = purchases_by_gender["Female"]
other_purchases = total_purchases - (male_purchases + female_purchases)

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [153]:
df.groupby("Gender").Age.mean()

Gender
Female                   21.345133
Male                     22.917178
Other / Non-Disclosed    24.200000
Name: Age, dtype: float64

In [154]:
df.groupby("Gender").agg({"Purchase ID": "count", "Price": "mean"})

                       Purchase ID     Price
Gender
Female                         113  3.203009
Male                           652  3.017853
Other / Non-Disclosed           15  3.346000

#### Age Demographics

In [157]:
players.Gender.value_counts()

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [28]:
Age_bins = [0, 9, 10, 14, 19, 24, 29, 34, 39, 99999999]
Age_group =["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "34-39", "40+"]

In [37]:
players_demographics["Age Ranges"] + pd.cut(players_demographics["Age"], age_bins, labels=Age_group

SyntaxError: unexpected EOF while parsing (Temp/ipykernel_25832/2261042324.py, line 1)

#### Purchasing Analysis (Age)

In [ ]:
df.head()

In [ ]:
purchases_by_gender = purchase_data["Age"].value_counts()
total_purchases = purchases_by_gender.sum()
print(purchases_by_gender)
male_purchases = purchases_by_gender["Male"]
female_purchases = purchases_by_gender["Female"]
other_purchases = total_purchases - (male_purchases + female_purchases)

In [ ]:
df.groupby("Age").Age.mean()

In [ ]:
df.groupby("Age").agg({"Purchase ID": "count", "Price": "mean"})

#### Top Spenders

In [ ]:
df.head()

In [ ]:
summary= df.groupby("SN").agg({Purchase ID": "count", "Price": ["mean", "sum"]})
summary.columns = [Purchase count", "Average Purchase Price", "Total Purchase Value"]
summary.sort_values(by"Total Purchase Value", ascending =False, inplace=True)
summary.head()

In [ ]:
df.groupby("SN").Age.mean()

In [ ]:
df.groupby("Age").agg({"Purchase ID": "count", "Price": "mean"})

#### Most Popular Items

In [ ]:
summary= df.groupby("Item ID", "Item Name").agg({Purchase ID": "count", "Price": ["mean", "sum"]})
summary.columns = [Purchase count", "Average Purchase Price", "Total Purchase Value"]
summary.sort_values(by"Purchase Count", ascending =False, inplace=True)
summary.head()

#### Most Profitable Items

In [ ]:
summary= df.groupby(SN").agg({Purchase ID": "count", "Price": ["mean", "sum"]})
summary.columns = [Purchase count", "Average Purchase Price", "Total Purchase Value"]
summary.sort_values(by"Total Purchase Value", ascending =False, inplace=True)
summary.head()

In [ ]:
summary.sort_values(by"Total Purchase Value", ascending =False, inplace=True)
summary.head()

### My code wouldnt run for the last few items starting from Age demographics. i used my tutors logic to show the last lines of code. Will look to correct the issue as to why it wont run.